.posts_header{
color: #333;
}

.clickable-row:hover{
cursor: pointer
}

.footer{
background: #242729;
color: #9fa6ad;
}

.footer a {
padding-right:30px;
color: #9fa6ad;
}

#footer-menu{
padding-top: 10px;
}

.btn-primary {
    background-color: #6BB400;
    border-color: #6BB400;
}

.btn-primary:hover {
    background-color: #579300;
    border-color: #579300;
}

.btn-primary:focus {
    background-color: #579300;
    border-color: #579300;
}


.btn-primary:active {
    background-color: #406C00;
    border-color: #406C00;
}


.btn-primary:active:focus {
    background-color: #406C00;
    border-color: #406C00;
}

a {
    color: #6BB400;
}

a:focus, a:hover {
    color: #579300;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #6BB400;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #6BB400;
}

#jumbotron-get-involved{
margin-bottom: 20px;
}

form{
margin-bottom: 30px;
}

.container-reduced-top-padding{
padding-top: 0px!important;
}

#banner-img{
height: 30%;
width: 30%;
margin: auto;
display: block;
}

#jumbotron-signup{
padding-top:30px;
padding-bottom:20px;
}

/************************
How it works page styling
************************/
.btn-demo:visited{
background-color: #6BB400;
border-color: #6BB400;
}

.btn-demo:focus{
background-color: #6BB400;
border-color: #6BB400;
}

.btn-demo:active{
background-color: #6BB400;
border-color: #6BB400;
}

.explanation{
counter-reset: my-counter;

}
.explanation dt{
padding-left: 50px;
position: relative;
margin-bottom: 30px;
padding-top: 20px;
}

.explanation dt:before{
content: counter(my-counter);
counter-increment: my-counter;
font-size: 50px;
left: 0;
top: 0;
position: absolute;
}

h3{
margin-top: 50px;
}

.no-event{
margin-bottom: 50px;
}

/*Removing left padding from navbar login box as it was overlapping with the buttons on smaller screens*/
#nav-bar-login{
padding-left: 0px;
}

/***************************
Styling allauth sign in page
****************************/
#jumbotron-why-signup > h2{
margin-top:20px;
margin-bottom:20px;
}
#jumbotron-why-signup{
background-color:inherit;
padding-bottom: 30px;
padding-top:10px;
padding-left: 40px;
padding-right: 40px;
border-color: #6BB400;
border-style: none;
}

#jumbotron-why-signup > ul li p{
font-size: 18px;

}

/* <a role=button> in the same row need vertical padding applied to them otherwise they touch when stacked*/
.a-btn > a{
margin: 3px 0px;
}

/* index.html */
.compact{
color: #fff;
font-size: 16px;
font-weight: normal;
line-height: 1.3;
margin: 0;
}

.signup-banner{
width: 100%;
margin: 0;
padding: 30px;
text-align: center;
background: #444;
border-radius: 10px;
}

.jumbotron-get-involved a {
width: 191px;
}

.jumbotron-get-involved h2 {
padding-bottom: 10px;
}

.clickable-row:hover{
font-weight:bold;
}

/* Shadow styling for the signup banner */
.shadow5{
position:relative;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.shadow5:before, .shadow5:after{
  position:absolute;
  content:"";
  box-shadow:0 10px 25px 20px #518C96;
  top:40px;left:10px;bottom:50px;
  width:15%;
  z-index:-1;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow5:after{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;left: auto;
}