{% extends 'disclifts/base.html' %}
{% load staticfiles%}


{% block title %}Events ¦{% endblock title %}

{% block content%}
<div class="container">
    <h2>Upcoming events</h2>
    <h4>Select an event to see all posts</h4>
    <div class="row">
        <div class="col-sm-10">
            {% include 'posts/events_table.html' %}
        </div> <!--col-->
        <div class="col-sm-2">
            <p><a class="btn btn-primary btn-lg" href="{% url 'posts:add_event' %}" role="button">Create new event</a>
            </p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'posts:past_events' %}" role="button">View past events</a>
            </p>
        </div> <!--col-->
    </div> <!--row-->
    <div class="pagination">
    <span class="step-links">
        {% if events_queryset.has_previous %}
        <a href="?page={{ events_queryset.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ events_queryset.number }} of {{ events_queryset.paginator.num_pages }}.
        </span>
        {% if events_queryset.has_next %}
        <a href="?page={{ events_queryset.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock content %}
