{% extends 'disclifts/base.html' %}


{% block title %}Events {{ user_inst.username }} ¦{% endblock title %}

{% block content %}
<div class="container">

    <h3>All events from {{ user_inst.username }}</h3>
    <div class="row">
        <div class="col-sm-10">
            {% if not events_queryset %}
            <h4>Sorry to disappoint but this user has not created any events yet.</h4>
            {% else %}
                {% include 'posts/events_table.html' %}
            {% endif %}
        </div> <!--col-->
    </div><!--row-->
    <div class="pagination">
    <span class="step-links">
        {% if events_queryset.has_previous %}
        <a href="?page={{ events_queryset.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ events_queryset.number }} of {{ events_queryset.paginator.num_pages }}.
        </span>
        {% if events_queryset.has_next %}
        <a href="?page={{ events_queryset.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock content %}
