<table class="table table-hover">
    <thead>
    <tr>
        <th>Event</th>
        <th>Location</th>
        <th>Date</th>
        <th>Posts</th>
    </tr>
    </thead>
    <tbody>
    {% for instance in events_queryset %}
    <tr class="clickable-row" data-url="{{ instance.get_absolute_url }}">
        <td>{{instance.title}}</td>
        <td>{{instance.location}}</td>
        {% if instance.start_date|date:"m" == instance.end_date|date:"m" %}
        <td>{{instance.start_date|date:"d"}}-{{instance.end_date|date:"d M Y"}}</td>
        {% else %}
        <td>{{instance.start_date|date:"d M"}} - {{instance.end_date|date:"d M Y"}}</td>
        {% endif %}
        <td>{{instance.posts_set.all.count}}</td>
        {# This gets all the posts with a foreign key relationship to model instance #}
        {# of the event, and counts #}
        {# how many there are. Note the p in .posts_set is lower case #}
    </tr>
    {% endfor %}
    </tbody>
</table>