{% extends 'disclifts/base.html' %}
{% load staticfiles %}


{% block title %}Home ¦{% endblock title %}
{% block content%}
<div class="container-reduced-top-padding">
    <img id="banner-img" class="" src="{% static 'img/dl_banner.png' %}">
    {% if not request.user.is_authenticated %}

    <div class="signup-banner box box5 shadow5">
        <h3 class="compact">
            <strong>Help frisbee tournaments get greener.</strong>
            Meet frisbee folk and sharing rides.
            <span class="action-btns">
            <a class="btn btn-lg btn-primary" href="/accounts/signup/" role="button">Signup!</a>
            <a class="btn btn-lg btn-primary" href="{% url 'posts:how_it_works' %}" role="button">Learn more</a>
        </span>
        </h3>

    </div>


    <!--<div class="jumbotron" id="jumbotron-signup">-->
        <!--&lt;!&ndash;<h2>Disc Lifts</h2>&ndash;&gt;-->
        <!--<p>The site that helps you find or offer car pooling for frisbee tournaments. Help make the world go a little-->
            <!--greener, share a ride.</p>-->
        <!--<p></p>-->
        <!--<p>-->
            <!--<a class="btn btn-lg btn-primary" href="/accounts/signup/" role="button">Signup! &raquo;</a>-->
            <!--<a class="btn btn-lg btn-primary" href="{% url 'posts:how_it_works' %}" role="button">How it-->
                <!--works &raquo;</a>-->
        <!--</p>-->
    <!--</div>-->
    {% endif %}


    <div class="row">
        <div class="col-sm-8">
            <p>
            <h2>Upcoming events</h2>
            <h4>Select an event to see all posts - <a href="{% url 'posts:events' %}">or view all events here.</a></h4>
            </p>
            {% include 'posts/events_table.html' %}
        </div>


        <div class="col-sm-4">
            <div class="jumbotron jumbotron-get-involved" style="background-color: white   ">
                <h2>Get involved</h2>
                <p><a class="btn btn-primary btn-lg" href="{% url 'posts:add_event' %}" role="button">Create new
                    event &raquo;</a></p>
                <p><a class="btn btn-primary btn-lg" href="{% url 'posts:add_post' %}" role="button">Create new
                    post &raquo;</a>
                </p>
                {% if request.user.is_authenticated %}
                <p><a class="btn btn-primary btn-lg" href="{% url 'posts:how_it_works' %}" role="button">How it
                    works &raquo;</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}